# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.so

# =========================
# Virtual Environments
# =========================
venv/
.env/
.env
.venv/

# =========================
# FastAPI / Uvicorn
# =========================
*.log

# =========================
# Database
# =========================
*.sqlite3
*.db

# =========================
# Migrations
# =========================
alembic/versions/__pycache__/

# =========================
# IDEs & Editors
# =========================
.vscode/
.idea/
*.swp
*.swo

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Testing & Coverage
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Build / Distribution
# =========================
dist/
build/
*.egg-info/

# =========================
# Secrets (important)
# =========================
secret.key
